<h1>All Genres: </h1>
<%= button_to "New Genre", new_genre_path, method: :get %><br>

<ul>
  <% @genres.each do |genre| %>
    <li><h5><%= link_to genre.name, genre_path(genre) %></h5><br></li>
  <% end %>
</ul>