<h1>Authors:</h1>
<%= button_to "New Author", new_author_path, method: :get %><br>

<ul>
  <% @authors.each do |author| %>
    <li><h5><%= link_to author.name, author_path(author) %></h5><br></li>
  <% end %>
</ul>