<h1>Hi, <%= @user.username %></h1>
<%= link_to "Create a New Post", new_post_path %> | <%= link_to "Add a new Author", new_author_path %> | <%= link_to "Add a new Genre", new_genre_path %>

<p>Eventually I want to add the posts that belong to a specific user here.</p><br>