<h1>My Posts:</h1>
<%= button_to "New Post", new_user_post_path(@user), method: :get %><br>

<ul>
  <% @user.posts.each do |post| %>
    <div class="post">
      <li><h5><%= link_to post.title, post_path(post) %> | <%= post.author.name %> | <%= post.genre.name %> |</h5></li>
    </div>
  <% end %>
</ul>